# Backend
backend/venv/
backend/__pycache__/
backend/*.db
backend/.env
backend/*.log

# Frontend
frontend/node_modules/
frontend/.next/
frontend/.env
frontend/.env.local
frontend/.env.*.local
frontend/out/
frontend/build/
